---
import "./styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sampler</title>
  </head>

  <style is:global>
    body {
      --b2: #282dbd;
      --bg: #090a19;
      background: var(--bg);
      color: white;
      font-family: "Nimbus Mono PS", "Courier New", monospace;
    }
  </style>
  <body>
    <slot />
  </body>
</html>
